<!DOCTYPE html>
<html><head><title>Monopoly Game</title>
<link href="/stylesheets/shared.css" rel="stylesheet" />
<link href="/stylesheets/modal.css" rel="stylesheet" />
<link href="stylesheets/landing.css" rel="stylesheet" />
<link href="stylesheets/button-animations.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
</head>
<body>

<div id="page-container">
<h1>Welcome to Web Monopoly!</h1>

<!-- Create New Game button -->
<div id="open-new-game-modal" class="button glow-on-hover" style="display: inline-block;">
	+ Create a New Game
</div>

<h2>In-Progress Games</h2>
<% if (inProgressGames.length > 0 || lobbies.length > 0) { %>
	<% for (let i = 0; i < inProgressGames.length; i ++) { %>
		<% const game = inProgressGames[i]; %>
		<a href="/game/<%=game.id %>" class="link">
			<!-- Display a tile, summarizing the game. -->
			<div class="game-summary-tile" style="background-color: #ccffd0">
				<b><%= game.name %></b>
				<div style="position: absolute; bottom: 15px">
					<div style="font-size: 12px">
						It's <%= (game.waitingOnName === game.yourName) ? "your" : `${game.waitingOnName}'s` %> move.
					</div>

					<% if (game.numTurns > 0) { %>
					<div style="font-size: 10px; color: #777">
						Last move <%= game.timeSinceUpdated %>.
					</div>
					<% } %>
					<div style="font-size: 12px"><%= game.numTurns %> turns &bull; <%= game.numOwnedProperties %> <%= game.numOwnedProperties === 1 ? "property" : "properties" %> sold</div>
					<div style="font-size: 10px; color: #777">Created <%= game.timeSinceCreated %> by <%= game.creatorName === game.yourName ? "you" : game.creatorName %></div>
				</div>
				<canvas class="player-donut-chart" id="player-performance-<%= game.id %>"></canvas>
				<div class="tile-overlay" style="opacity: 0">
					Return to Game
				</div>
			</div>
		</a>
	<% } %>

	<% for (let i = 0; i < lobbies.length; i ++) { %>
		<% const lobby = lobbies[i]; %>
		<a href="/game/<%=lobby.id %>" class="link">
			<!-- Display a tile, summarizing the lobby. -->
			<div class="game-summary-tile" style="background-color: #e6ffe6">
				<b><%= lobby.name %></b>
				<br />
				<h5 style="margin-bottom: 0">Players:</h5>
				<ul style="font-size: 12px; padding-left: 30px">
					<% for (let j = 0; j < lobby.playerNames.length; j ++) { %>
						<% const playerName = lobby.playerNames[j]; %>
						<li><%= playerName %></li>
					<% } %>
				</ul>
				<br />
				<div style="position: absolute; bottom: 15px">
					<div style="font-size: 10px; color: #777">Created <%= lobby.timeSinceCreated %> by <%= lobby.adminId === yourId ? "you" : lobby.adminName %></div>
					<div style="font-size: 12px">In Lobby</div>
				</div>
				<div class="tile-overlay" style="opacity: 0">
					Open Lobby
				</div>
			</div>			
		</a>
	<% } %>
<% } else { %>
	<div>None</div>
<% } %>

<!-- Clear the floating. -->
<br style="clear: both" />

<h2>Completed Games</h2>
<% if (completedGames.length > 0) { %>
	<% for (let i = 0; i < completedGames.length; i ++) { %>
		<div>
			Admin: <%= completedGames[0].adminId %>
			<br />
			Game: <%= completedGames[0].name %>
			<br />
			Created: <%= new Date(completedGames[0].createTime) %>
		</div>
	<% } %>
<% } else { %>
	<div>None</div>
<% } %>

</div>

<!-- Overlay for modal -->
<div class="full-page-overlay"></div>

<!-- Create New Game modal -->
<div id="new-game-form-modal" class="form-modal">
	<%- include("../partials/new-game-form") %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>

<script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js" crossorigin></script>

<script>
const inProgressGames = <%- JSON.stringify(inProgressGames) %>;
const completedGames = <%- JSON.stringify(completedGames) %>;
const startedGames = [...inProgressGames, ...completedGames];
const landingToastData = JSON.parse(decodeURIComponent(<%- JSON.stringify(landingToast) %>));
const yourId = "<%= yourId %>";

// Generate pie charts for each game to display player net worths.
startedGames.forEach(game => {
	const canvas = $(`#player-performance-${game.id}`)[0];
	// Clicking the canvas should not load the game page.
	canvas.addEventListener("click", event => event.preventDefault());
	const ctx = canvas.getContext("2d");
	const myChart = new Chart(ctx, {
		type: "doughnut",
		data: {
			labels: game.playerData.map(player => `${player.name} - $${player.netWorth}`),
			datasets: [{
				data: game.playerData.map(player => player.netWorth),
				backgroundColor: [
					"rgb(255, 99, 132)",
					"rgb(54, 162, 235)",
					"rgb(255, 206, 86)",
					"rgb(75, 192, 192)",
					"rgb(153, 102, 255)",
					"rgb(255, 159, 64)"
				],
				borderWidth: 0
			}]
		},
		options: {
			legend: {
				position: "left"
			}
		}
	});
});

// Activate the animation of the card shrinking back only after the page has loaded.
// This prevents the cards from an initial shrink on page load.
$(".game-summary-tile").on("animationstart", event => {
	$(event.target).toggleClass("game-summary-tile-shrunken", true);
});

// Display the text overlay while tile is in grown state.
$(".game-summary-tile").on("animationend", event => {
	if (event.originalEvent.animationName === "grow-summary-tile") {
		$(event.target).children(".tile-overlay").css("opacity", 0.8);
	}
});
$(".game-summary-tile").on("animationstart", event => {
	if (event.originalEvent.animationName === "shrink-summary-tile") {
		$(event.target).children(".tile-overlay").css("opacity", 0);
		$(event.target).css("z-index", 0);
	}
	if (event.originalEvent.animationName === "grow-summary-tile") {
		$(event.target).css("z-index", 5);
	}
});

/**
 * Background raindrops.
 */
const logos = [
	"/images/chance-blue.svg",
	"/images/community-chest.svg",
	"/images/electric-company.svg",
	"/images/free-parking.svg",
	"/images/go.svg",
	"/images/go-to-jail.svg",
	"/images/house.svg",
	"/images/hotel.svg",
	"/images/in-jail.svg",
	"/images/luxury-tax.svg",
	"/images/mortgage.svg",
	"/images/railroad.svg",
	"/images/water-works.svg"
];

function addRaindrop() {
	const raindrop = document.createElement("img");
	raindrop.src = logos[Math.floor(Math.random() * logos.length)];
	raindrop.style.left = `${Math.random() * window.innerWidth - 50}px`;
	raindrop.style.top = `${Math.random() * window.innerHeight - 50}px`;
	raindrop.className = "raindrop";

	document.body.appendChild(raindrop);

	setTimeout(() => document.body.removeChild(raindrop), 5000);
}

setInterval(addRaindrop, 1000);
</script>

<script src="/javascripts/landing/new-game-form.js"></script>
<script type="module">
	import {openModal, closeModal} from "/javascripts/landing/modal-animation.js";

	const modalElements = {
		modal: $("#new-game-form-modal"),
		overlay: $(".full-page-overlay"),
		container: $("#page-container")
	};

	$("#open-new-game-modal").click(event => openModal(modalElements));
	$("#close-modal-x").click(event => closeModal(modalElements));
	$(".full-page-overlay").click(event => closeModal(modalElements));

	import {showToast} from "/javascripts/landing/toast.js";
	if (landingToastData !== null) {
		// There's a toast to show.
		showToast(landingToastData);
	}
</script>

</body></html>