<!DOCTYPE html>
<html><head><title>Monopoly Game</title>
<link href="/stylesheets/shared.css" rel="stylesheet"></link>
<style>
#invalid-name-message {font-size: 12px; height: 15px}
.highlight-invalid-message {color: red}
#page-container {background-color: rgba(255, 255, 255, 0.3);}
</style>
</head>
<body style="background-image: url('images/background-monopoly.png')">

<div id="page-container">
<h1>Current Games</h1>
<% if (inProgressGames.length > 0) { %>
	<% for (let i = 0; i < inProgressGames.length; i ++) { %>
		<a href="/game/<%= inProgressGames[i].id %>">
		<div>
			Admin: <%= inProgressGames[i].adminId === yourId ? "You" : inProgressGames[i].adminId %>
			<br />
			Game: <%= inProgressGames[i].name %>
			<br />
			Created: <%= new Date(inProgressGames[i].createTime) %>
		</div>
		</a>
	<% } %>
<% } else { %>
	<div>None</div>
<% } %>

<h1>Completed Games</h1>
<% if (completedGames.length > 0) { %>
	<% for (let i = 0; i < completedGames.length; i ++) { %>
		<div>
			Admin: <%= completedGames[0].adminId %>
			<br />
			Game: <%= completedGames[0].name %>
			<br />
			Created: <%= new Date(completedGames[0].createTime) %>
		</div>
	<% } %>
<% } else { %>
	<div>None</div>
<% } %>

<form id="new-game-form" style="display: inline-block">
	<center>
	<h1>Create New Game</h1>
	Name: <input id="game-name-field" type="text" />
	<div id="invalid-name-message"></div>
	<div id="create-game" class="button button-disabled" style="display: inline-block;">Create</div>
	</center>
</form>
</div>

<script src="/javascripts/third-party/jquery.js"></script>
<script src="/javascripts/landing/create-game.js"></script>
</body></html>